header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: cornsilk;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

header .logo {
  font-size: 25px;
  font-weight: 600;
  color: crimson;
}

header .link {
  display: flex;
  gap: 2rem;
}

header .link a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

header .link a:hover {
  color: blue;
}

@media (max-width: 768px) {
  header .logo {
    font-size: 18px;
  }

  header .link {
    gap: 0.5rem;
  }
}
