footer {
  background-color: rgb(220, 250, 255);
  color: blueviolet;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content p {
  margin: 0;
  font-size: 14px;
}

.footer-content a {
  text-decoration: none;
  color: inherit;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  color:crimson;
  font-size: 18px;
  margin: 0 10px;
}

.social-links a:hover {
  color: aqua;
}